@import config

// CUSTOM USER STYLES & IMPORTS

.top-row
    padding: 0 67px
    height: 41px
    display: flex
    justify-content: space-between
    background-color: $accent
    align-items: center
    font-size: 14px
    color: #fff
    .info
        display: flex
        align-items: center
        div
            display: flex
            align-items: center
            margin-right: 32px
            img
                margin-right: 5px
    .top-menu
        ul
            display: flex
            li
                margin-right: 50px
                a
                    color: #fff
            .top-menu-active
                a
                    font-weight: 700
            li:last-child
                margin-right: 0
.navbar
    height: 89px
    display: flex
    justify-content: space-between
    align-items: center
    .logo
        display: flex
        align-items: center
        img
            margin-right: 180px
    nav
        ul
            display: flex
            li
                text-transform: uppercase
                margin-right: 60px
                a
                    color: $textcolor
                    text-decoration: none
                    font-weight: 700
            li:last-child
                margin-right: 0
    .socials
        display: flex
        .search
            margin-right: 52px
        ul
            display: flex
            li
                margin-right: 6px
            li:last-child
                margin-right: 0
.pagination
    margin-top: 26px
    span
        margin: 0 5px
    a
        color: #9c9c9c !important
        font-size: 14px
        font-weight: 300
    a[href]
        font-size: 14px
        font-weight: 700
        color: $textcolor  !important
        text-decoration: underline
.content
    display: flex
    justify-content: space-between
    &-img
        width: 49%
        img
            max-width: 100%
    &-text
        width: 45%
        h1
            margin: 29px 0 0 0
            font-size: 50px
            line-height: 60px
        .discount-dates
            display: flex
            justify-content: space-between
            margin-top: 23px
            div:first-child
                color: #ED1C24
            div:last-child
                color: #929292
        p
            margin-top: 37px
p
    margin-top: 46px
    line-height: 30px
    text-align: justify
.mobile-navbar
    display: none
    justify-content: space-between
    align-items: center
    position: relative
    z-index: 2
    &::before
        content: ''
        width: 100%
        height: 100%
        background-color: #fff
        z-index: 1
        position: absolute
        left: 0
        top: 0
        display: none
    .logo
        position: relative
        z-index: 2
        img
            max-width: 157px
    nav
        display: flex
        align-items: center
        .search
            position: relative
            z-index: 2
            margin-right: 28px
            a
                vertical-align: super
        .burger-menu
            position: relative
            display: flex
            flex-direction: column
            height: 22px
            justify-content: space-between
            z-index: 2
            span
                display: block
                width: 26px
                height: 2px
                background-color: $textcolor
                transition: .3s
        .active-burger
            span
                background-color: #fff
                position: relative
            span:nth-child(1)
                transform: rotateZ(-45deg)
                top: 10px
            span:nth-child(2)
                left: -26px
                opacity: 0
            span:nth-child(3)
                bottom: 10px
                transform: rotateZ(45deg)
    .mob-menu
        position: fixed
        top: -100%
        left: 0
        width: 100vw
        height: 100vh
        background-color: #383838
        padding-top: 118px
        z-index: 0
        overflow-y: auto
        transition: .3s
        display: flex
        flex-direction: column
        justify-content: space-between
        .menu-list
            padding: 0 31px
            li
                margin-bottom: 30px
                a
                    font-size: 25px
                    font-weight: 700
                    color: #fff
            li:last-child
                margin-bottom: 0
        .socials
            margin-top: 88px
            padding: 34px 15px 36px 30px
            display: flex
            align-items: center
            justify-content: space-between
            background-color: #2d2d2d
            a:first-child
                color: #fff
                font-weight: 700
            ul
                display: flex
                li
                    margin-right: 15px
                    img
                        width: 37px
                        height: 37px
                li:last-child
                    margin-right: 0
.active-mob
    nav .search
        z-index: -1
    .mob-menu
        top: 0
.active-mob-pseudo::before
    display: block
    background-color: #383838
// media
@media screen and ( max-width: 1600px )
    .navbar .logo img
        margin-right: 90px
@media screen and ( max-width: 1400px )
    .navbar 
        nav ul li
            margin-right: 50px
        .logo img
            margin-right: 60px
        .socials .search
            margin-right: 35px
@media screen and ( max-width: 1300px )
    .content-text h1
        font-size: 40px
        line-height: 50px
@media screen and ( max-width: 1280px )
    .top-row, .navbar
        display: none
    .mobile-navbar
        display: flex
    .container
        padding: 0 15px
    .mobile-navbar
        height: 72px
@media screen and ( max-width: 992px )
    .content
        flex-wrap: wrap
        &-text, &-img
            width: 100%
@media screen and ( max-width: 480px )
    .pagination
        margin-top: 17px
    .content-text h1
        margin-top: 17px
    .content-text .discount-dates
        margin-top: 14px
    .content-text p
        margin-top: 20px
